.drawer-menu {
  $drawer-menu-item-height: 36px;
  $drawer-menu-list-padding: 20px;
  $community-length: 8;
  $store-length: 8;
  $expert-length: 2;

  @function _calculate-max-content-height($length) {
    @return ($drawer-menu-item-height * $length) + $drawer-menu-list-padding;
  }

  &.is-active {
    .drawer-menu-button {
      color: $point;
    }
  }

  &.is-open {
    &.is-community {
      .drawer-menu-content {
        max-height: _calculate-max-content-height($community-length)
        // max-height: ($drawer-menu-item-height * $community-length) + $drawer-menu-list-padding;
        // 36px * 4(li 개수) + 8px(padding)
        // max-height 값을 현재 height 값에 딱 맞게 해야 애니메이션이 부드럽게 됨
        // li 의 갯수에 따라 height 값이 바뀌기 때문에 li 의 갯수를 구하는 것이 중요
        // 구하는 법: console 이용
        // => ul Element 를 클릭한 후 console 창에 $0.children 을 하면 그 안의 li 요소들이 얼마나 있는지 파악이 가능하다.
      }
    }

    &.is-store {
      .drawer-menu-content {
        max-height: _calculate-max-content-height($store-length)
      }
    }

    &.is-expert {
      .drawer-menu-content {
        max-height: _calculate-max-content-height($expert-length)
      }
    }

    .drawer-menu-button {
      i:last-child {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    // .drawer-menu-content {
    //   max-height: 152px;
    // }

    .drawer-menu-list {
      padding-bottom: $drawer-menu-list-padding;
    }
  }

  &-button {
    display: none;
    @include flexbox(start);
    @include text-style(18, $primary);
    position: relative;
    width: 100%;
    height: 54px;
    padding: 8px;
    font-weight: 700;
    transition: color .2s ease-in-out;

    i {
      &:first-child {
        position: relative; // TODO: check
        top: 1px; // TODO: check
        margin-right: 8px;
        font-size: 24px;
        color: $primary;
      }

      &:last-child {
        @include pos-center-y;
        right: 8px;
        font-size: 16px;
        color: $primary;
        transition: transform .2s ease-in-out;
      }
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
  }

  &-item {
    &.is-active {
      a {
        color: $point;
      }
    }

    a {
      @include flexbox(start);
      @include text-style(14, $primary);
      width: 100%;
      height: $drawer-menu-item-height;
      padding: 0 12px;
      font-weight: 700;
    }

    .ic-new {
      position: relative;
      top: 1px;
      font-size: 16px;
    }
  }

}