.gnb-icon-button {
  @include flexbox;
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: $secondary;
  transition: color .2s ease-in-out;

  &.is-menu {
    color: $blue;
    // 고유 형태의 속성들은 따로 빼둠

    &:active {
      color: $blue-dark;
    }
  }

  &:active {
    color: $primary;
  }
}



