.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $search-modal;
  width: 100%;
  height: 100vh;
  padding: 12px 0;
  background-color: $white;
  transform: translate3d(100%, 0, 0);
  // 화면을 가릴 때 transform 을 쓰는 이유는 transition 이 자연스럽게 되기 때문이다.
  // transition 이랑 상성이 안맞아 적용해도 자연스럽지 않은 속성들::after
  // width, height, padding, margin, (border), top, right, bottim, left ...
  // 위의 속성들은 transition 과 사용하는 것을 지양한다.
  transition: transform .3s ease-in-out;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    margin-bottom: 20px;
  }

  &-form {
    @include flexbox(between);

    // 취소 버튼은 꼭 너비를 유지해야하고, 나머지 남는 너비를 input 이 차지
    .input-group {
      flex-grow: 1;
    }

    .btn-ghost {
      flex-grow: 0;
      flex-shrink: 0;
      width: 56px;
      margin-left: 8px;
    }
  }
}