// 유틸리티 클래스 모음 (Utility class)
// 시안 작업을 할 때 시안 곳곳에서 global 하게 사용되는, 즉 utility 성이 강한 class 들이 있다.
// 이러한 class 들을 여기에서 한 번에 선언해준다.

// 눈에 보이지 않는 텍스트들을 브라우저로 보내야 하는 상황이 있다.
// => 스크린리더기를 이용하는 시각장애인들을 위함
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// 보이는 구간: ~767px
// 안보이는 구간: 768px 이상
.sm-only {
  @media screen and (min-width: $md-breakpoint) {
    // 768px 이상에서 안보이게
    display: none !important; // 글로벌 하게 사용되기 때문에 강력히 선언
  }
}

// 보이는 구간: 768px ~ 1199px
// 안보이는 구간: 767px 이하 / 1200px 이상
.md-only {
  // 767px 이하에선 안보이게
  // (768 - 1)767px 까지만 적용
  @media screen and (max-width: ($md-breakpoint - 1)) {
    display: none !important;
  }

  // 1200px 이상으로 안보이게
  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

// 보이는 구간: 1200px~
// 안보이는 구간: 1999px 이하
.lg-only {
  @media screen and (max-width: ($lg-breakpoint - 1)) {
    display: none !important;
  }
}

// 보이는 구간: 768px 이상
// 안보이는 구간: 767px 이하
.sm-hidden {
  @media screen and (max-width: ($md-breakpoint - 1)) {
    display: none !important;
  }
}

// 보이는 구간: 767px 이하 / 1200px 이상
// 안보이는 구간: 768px 이상 ~ 1999px 이하
.md-hidden {
  @media screen and (min-width: $md-breakpoint) and (max-width: ($lg-breakpoint - 1)) {
    display: none !important;
  }
}

// 보이는 구간: 1999px 이하
// 안보이는 구간: 1200px 이상
.lg-hidden {
  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}
