%avatar-base {
  display: block;
  // 아바타 태그가 div 가 아닌 a 나 다른 inline 태그일 수 있기 때문에 방지용으로 display-block 을 넣어줌
  overflow: hidden;
  border-radius: 50%;

  img {
    display: block; // 깔끔한 사이즈 관리를 위해
    width: 100%;
    height: 100%;
    object-fit: cover;
    // 이미지가 정사각형일 땐 잘 들어맞는데 세로, 혹은 가로로 긴 경우
    // width: 100%, height: auto 인 경우: 가로 사진이 빈 공간이 생김.
    // width: auto, height: 100% 인 경우: 세로 사진이 빈 공간이 생김.
    // 이를 해결하고자 width, height 둘다 100% 를 주면 사진이 짜부가 되거나 늘어짐
    // => 이미지를 background 처럼 다룰 수 있는 새로운 css 속성 object-fit 을 사용
  }
}

.avatar-24 {
  @extend %avatar-base;
  width: 24px;
  height: 24px;
}

.avatar-32 {
  @extend %avatar-base;
  width: 32px;
  height: 32px;
}
