// module : 여기저기서 쓰이는 시안
// layout : 하나만 있는 시안 (_grids.scss 는 레이아웃으로써의 역할)

.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {

    .button-group {
      @include flexbox(end);
    }

    .gnb-search-button {
      margin-right: 4px;
    }
  }

  &-icon-button {
    @include flexbox;
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: $secondary;
  }

  &-ham-button {
    color: $blue;
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  // 태블릿 768px ~
  @include responsive(T) {
    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }
      }
    }

    &-wrapper {
      height: 80px;
    }

    .logo {
      margin-right: 32px;
      position: static;
      // position 을 static 으로 해제할 때 top, left 등의 효과는 자동으로 사라짐
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  // PC 1200px ~
  @include responsive(D) {
    &-right {
      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }
  }
}