/* 
MOBILE ( < 768px (768px 미만)) ----------------
  * fixture: sm (모바일)
  * columns: 4
  * gutter: 20px
  * margin: 5px
  * container-size: 100% - (5px * 2)
  * container-size: 그리드 시스템이 적용될 상자의 사이즈 (margin 제외), 전체 뷰 포트 값에서 마진을 뺀 나머지값

TABLET ( >= 768px (768px 이상)) ----------------
  * fixture: md 
  * columns: 12
  * gutter: 20px
  * margin: 30px
  * container-size: 100% - (30px * 2)
  * max-container-size: 960px (max-width)
  => 1024px 의 iPad Pro 에서 960px 을 벗어나면 안된다는 조건이 달렸음
  => 조건: 768px 이상으로 초과하되, 960px 를 넘으면 안됨

DESKTOP ( >= 1200px (1200px 이상)) ----------------
  * fixture: lg 
  * columns: 12
  * gutter: 20px
  * unit: 75px
  * margin: auto
  * container-size: 1140px
  max-container-size: 1140px (max-width)
  => container-size 가 특정 값으로 고정되어있음 (> unit 의 폭도 고정값이 있음)
*/

// $gutter: 20px;

// $sm-columns: 4;
// $sm-margin: 5px;

// $md-columns: 12;
// $md-margin: 30px;
// $md-max-container: 960px + $md-margin * 2;

// $lg-columns: 12;
// $lg-unit: 75px;
// $lg-max-container: ($lg-unit + $gutter) * $lg-columns;

// @debug ($lg-unit + $gutter) * $lg-columns;

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;
  // border: 1px solid;

  .row {
    display: flex;
    flex-wrap: wrap; // 요소가 늘어나면 요소를 아래로 떨굼
    // border: 1px solid red;
  }

  // .col-sm-1 .col-md-2 .col-lg-3
  // col- 로 시작하는 class 를 모두 선택
  [class^='col-'] {
    padding: 0 calc($gutter / 2); // column 하나의 크기: unit + gutter
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage(calc($i / $sm-columns));
    }
  }

  // 768px 이상일 때
  @include responsive(T) {
    max-width: $md-max-container; // 960px 까지만 늘어나도록 한정
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage(calc($i / $md-columns));
      }
    }
  }

  // 1200px 이상일 때
  @include responsive(D) {
    max-width: $lg-max-container; // 1200px 까지만 늘어나도록 한정
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
