.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + calc($gutter / 2);
  overflow-x: auto;
  overscroll-behavior: contain;
  
  &-list {
    @include inline-flexbox(start);
    padding: 0 ($grid-margin - $lnb-link-padding);
    height: 40px;
    margin-left: -#{$grid-margin};
    white-space: nowrap;
    border-bottom: 1px solid $border;
    // flex 와 inline-flex 의 공통점:
    // 자식 요소를 나란히 나열시킨다.
    // flex 와 inline-flex 의 차이점:
    // flex 대상은 block 이며, inline-flex 의 대상은 inline-block 의 특성을 가진다.
    // block 의 특성: 별도의 너비를 지정해주지 않는 이상 부모의 너비만큼의 width 값을 가진다.
    // inline-block 의 특성: 부모가 아닌 자신의 컨텐츠 크기만큼의 width 값을 가짐, 본인이 나란히 나열됨
  }

  &-item {
    // flex-shrink: 0;

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }

  // 스크롤바 제거
  &::-webkit-scrollbar {
    display: none;
  }
}