.lnb {
  $lnb-link-padding: 8px;

  position: relative;
  overflow-x: auto;
  overscroll-behavior: contain;
  background-color: $white;

  // &::after {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   content: '';
  //   width: 100%;
  //   height: 1px;
  //   background-color: $border;
  // }

  // 스크롤바 제거
  @include no-scrollbar;

  &-list {
    @include inline-flexbox(start);
    padding: 0 ($grid-margin - $lnb-link-padding);
    height: $lnb-height-sm - 1px;
    margin-left: -#{$grid-margin};
    white-space: nowrap;
    border-bottom: 1px solid $border;
    // flex 와 inline-flex 의 공통점:
    // 자식 요소를 나란히 나열시킨다.
    // flex 와 inline-flex 의 차이점:
    // flex 대상은 block 이며, inline-flex 의 대상은 inline-block 의 특성을 가진다.
    // block 의 특성: 별도의 너비를 지정해주지 않는 이상 부모의 너비만큼의 width 값을 가진다.
    // inline-block 의 특성: 부모가 아닌 자신의 컨텐츠 크기만큼의 width 값을 가짐, 본인이 나란히 나열됨
  }

  &-item {
    // flex-shrink: 0;

    &.is-active {
      a {
        color: $point;
        border-bottom-color: $point;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $point;
      }
    }
  }

  // 768px ~
  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;


    &::after {
      display: none;
    }

    &-list {
      height: auto;
      padding: 0;
      border-bottom: 0;
      margin-left: 0;
    }

    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }

}